@import '../_colors.scss';

.powered-by-container
{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 100vh;

    transform: translate(-50%,-50%);

    background: $bg-color-light-mode;
}
.powered-by-wrapper
{
    position: relative;
    z-index: 999;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    width: 80vw;
    padding: 15px 50px;

    transform: translate(-50%,-50%);

    h2
    {
        margin-bottom: 20px;
    }

    p
    {
        margin-bottom: 40px;
    }
}

.logo-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 100%;
    margin: 0 auto;
}



.powered-by-item
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    width: 165px;
    margin-bottom: 30px;
    padding: 35px;

    text-align: center;

    background: white;

    &.soft
    {
        background: #fff;
    }


    @media (max-width: 800px)
    {
        width: 139px;
    }

    @media (max-width: 600px)
    {
        width: 86px;
        margin-right: 11px;
        margin-bottom: 11px;
        padding: 16px;
    }
}