
.powered-by-wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 15px 50px;

    transform: translate(-50%,-50%);
}

.logo-row
{
    display: flex;

    margin: 0 auto;
    padding-top: 10px;
}


.wiki-globe-logo
{
    width: 109px;
    height: 125px;
    margin-right: 55px;
    margin-bottom: 15px;
}

.wikimedia-logo
{
    width: 167px;
    height: 125px;
    margin-bottom: 15px;
}