@import '../_colors.scss';

.result-item-wrapper
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex: 1;
    flex-direction: column;

    height: auto;
    max-height: 150px;
    margin-bottom: 1em;
    padding: 20px 30px;

    text-overflow: ellipsis;
}

.result-title
{
    padding-bottom: .5em;
}

.result-extract
{
    max-height: 150px;
}