@import '../_colors.scss';

.result-item-wrapper
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex: 1;
    flex-direction: column;

    height: auto;
    max-height: 150px;
    margin-bottom: 1em;
    padding: 20px 30px;

    text-overflow: ellipsis;

    // .text-fader
    // {
    //     position: absolute;
    //     bottom: 0;

    //     width: 100%;
    //     height: 100%;

    //     animation: shadowCreepUp ease 6s;
    //     animation-iteration-count: 1;

    //     background: linear-gradient(0deg, $bg-color-light-mode 0%, rgba(255,255,255,0) 30%);

    //     animation-fill-mode: forwards;
    // }
}

.result-title
{
    padding-bottom: .5em;
}

.result-extract
{
    max-height: 150px;
}



@keyframes shadowCreepUp
{
    0%
    {
        max-height: 0;
    }
    100%
    {
        max-height: 100%;
    }
}