.SearchPage
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 400px;
    margin: 0 auto;
    padding: 50px;
}

input[type='submit']
{
    cursor: pointer;
}