@import '../_colors.scss';
footer
{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 10px;

    transition: opacity .2s ease-in-out;
    text-align: right;

    opacity: .4;

    &:hover
    {
        opacity: .8;
    }

    .website-link
    {
        padding: 2px 4px;

        text-decoration: none;

        color: inherit;
    }
}