@import '../_colors.scss';
header
{
    display: flex;
    justify-content: flex-end;

    padding-right: 10px;

    text-align: right;

    .website-link
    {
        margin: 0 2px;
        padding: 2px;
    }
}