$sepia: #fbf0d9;
$earth: #5f4b32;
$cobalt: #002240;

$highlight-light: #fff9ed;
$shadow-light: #d6d6d6cf;
$bg-color-light: $sepia;
$text-color-light: $earth;

$highlight-dark: #003361;
$shadow-dark: #000e1b;
$bg-color-dark: $cobalt;
$text-color-dark: #fff;