@import './_helpers.scss';


.App
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    transition: background 1s ease;

    color: $text-color-light-mode;
    background: $bg-color-light-mode;
    background-image: url('https://www.transparenttextures.com/patterns/absurdity.png');
    &.dark-mode
    {
        color: $text-color-dark-mode;
        background: $bg-color-dark-mode;
        background-image: url('./components/absurdity-dark.png');
    }
}

.content-wrapper
{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}



h1,
h2
{
    font-family: 'Playfair Display';
}

.italic
{
    font-style: italic;
}

.thin
{
    font-weight: lighter;
}

.soft
{
    transition: background .2s ease-in-out,  box-shadow .2s ease-in-out;

    border: 1px dotted rgba(0,0,0,.1);
    border-radius: 4px;
    outline: 1px solid transparent;
    background: $bg-color-light-mode;
    background-image: url('https://www.transparenttextures.com/patterns/absurdity.png');
    box-shadow: $highlight-light -5px -5px 20px, $shadow-light 5px 5px 20px;

    &:not(button),
    &:not(input[type='submit'])
    {
        transition: background 1s ease-in-out,  box-shadow 1s ease-in-out;
    }

    &:focus
    {
        outline: thin dotted rgba(0,0,0,.7);
        outline-offset: 3px;
        box-shadow: inset 1px 1px 2px $shadow-light, inset -1px -1px 2px $highlight-light;
    }
}

button
{
    display: block;

    cursor: pointer;

    &:hover,
    &:focus
    {
        box-shadow: -2px -2px 5px $highlight-light, 2px 2px 5px $shadow-light;
    }
}


.search-form
{
    display: flex;

    margin-bottom: 15px;
}

.search-input
{
    margin-right: 0;
    padding-right: 10px;
    padding-left: 10px;

    color: inherit;
    box-shadow: inset $shadow-light 4px 4px 8px, inset $highlight-light 0 -4px 4px;
}

.user-message-toast
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    max-width: 0;

    white-space: nowrap;

    &.expanded
    {
        max-width: 230px;
        padding: 10px;
    }
}


// @@@@@@@@@@@@@@@@@
// @@ DARK STYLES @@
// @@@@@@@@@@@@@@@@@

.dark-mode
{
    .soft
    {
        background: $bg-color-dark-mode;
        background-image: url('./components/absurdity-dark.png');
        box-shadow: $highlight-dark -5px -5px 20px, $shadow-dark 5px 5px 20px;
        &:focus
        {
            outline: thin dotted rgba(255,255,255,.7);
            outline-offset: 3px;
            box-shadow: inset 1px 1px 2px $shadow-dark, inset -1px -1px 2px $highlight-dark;
        }
    }

    button
    {
        box-shadow: $highlight-dark 5px 5px 20px,$shadow-dark -5px -5px 20px;

        &:hover,
        &:focus
        {
            box-shadow: $highlight-dark -2px -2px 5px , $shadow-dark 2px 2px 5px;
        }
    }

    .search-input
    {
        box-shadow: inset $shadow-dark 4px 4px 8px, inset $highlight-dark 0 -4px 4px;
    }

    input[type='submit']
    {
        &:hover,
        &:focus
        {
            box-shadow: $highlight-dark -2px -2px 5px , $shadow-dark 2px 2px 5px;
        }
    }

    .home-logo
    {
        filter: invert(1);
    }

    .result-item-wrapper
    {
        .text-fader
        {
            background: transparent;
        }
    }
}