@import './_helpers.scss';


.App
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    color: #5f4b32;
    background: $sepia;
    background-image: url('https://www.transparenttextures.com/patterns/absurdity.png');
}

.content-wrapper
{
    display: flex;
    align-items: center;
    flex: 1;
}



h1,
h2
{
    font-family: 'Playfair Display';
}

.italic
{
    font-style: italic;
}

.thin
{
    font-weight: lighter;
}

.soft
{
    transition: box-shadow .2s ease-in-out;

    border: 1px dotted rgba(0,0,0,.1);
    border-radius: 4px;
    outline: 1px solid transparent;
    background: $sepia;
    background-image: url('https://www.transparenttextures.com/patterns/absurdity.png');
    box-shadow: #fff9ed -5px -5px 20px, #d6d6d6cf 5px 5px 20px;
    &:focus
    {
        outline: thin dotted rgba(0,0,0,.7);
        outline-offset: 3px;
        box-shadow: inset 1px 1px 2px #e6e6e6, inset -1px -1px 2px #fff9ed;
    }
}

button,
.button
{
    display: block;

    cursor: pointer;
    transition: all .2s ease-in-out;

    box-shadow: #fff9ed 5px 5px 20px, #e6e6e6 -5px -5px 20px;

    &:hover,
    &:focus
    {
        box-shadow: -2px -2px 5px #fff9ed, 2px 2px 5px #e6e6e6;
    }
}


.search-form
{
    display: flex;

    margin-bottom: 15px;
}

.search-input
{
    margin-right: 0;
    padding-right: 10px;
    padding-left: 10px;

    box-shadow: inset #e6e6e6 4px 4px 8px, inset #fff9ed 0 -4px 4px;
}


.powered-by-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 15px 50px;
}

.logo-row
{
    display: flex;

    margin: 0 auto;
    padding-top: 10px;
}


.wiki-globe-logo
{
    width: 109px;
    height: 125px;
    margin-right: 55px;
    margin-bottom: 15px;
}

.wikimedia-logo
{
    width: 167px;
    height: 125px;
    margin-bottom: 15px;
}

.header-controls-wrapper
{
    display: flex;
    justify-content: space-around;

    width: 100px;
    padding: 5px;

    button
    {
        width: 40px;
        height: 40px;

        cursor: pointer;

        div
        {
            height: 100%;

            background: center center no-repeat;
            background-size: 80%;
        }

        .display-controls-button
        {
            background-image: url('./components/gear.svg');
        }

        .info-modal-button
        {
            background-image: url('./components/info.svg');
        }
    }
}